<h1>MutantsBoard</h1>
<h2>Welcome Prof. Xavier</h2>
<p>I wish you a good morning and hope you are superpowerly up today :)</p>
<%= link_to 'List Mutants', controller: 'mutants', class: 'btn btn-default' %>
